@charset "utf-8";
html{
	font-size: 14px "微软雅黑"; color: #333;
}
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, img{
	margin:0;padding:0;
}
ul,ol,li{
	list-style: none;
	
}
input, select, textarea, button {
	outline:none;margin:0;padding:0;vertical-align:middle;font-family:"微软雅 黑";font-size:14px;color:#4c4c4c;
}
a{
	text-decoration: none;
}
.clear{
	clear: both;
}
input::-ms-clear{display:none;}
img,a img{border: none;}
